html {
  text-align: center;
  font-family: Helvetica;
}

.banner {
  background-image: url("../images/building.png");
  background-size: cover;
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: gray;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: gray;
}

p {
font-size: 14px;
color: gray;
}

a {
  color: white;
}

h3.white {
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.nav {
  font-size: 18px;
  color: white;
  link: white;
}

.title {
  color: white;
}

.footer-bar {
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;
}
